<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.proj3.commandExtension" name="commandExtension" schema="schema/com.proj3.commandExtension.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="project"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/proj3/css/default.css">
         </property>
         <property
               name="appName"
               value="project">
         </property>
      </product>
   </extension>
   <extension
         point="com.proj3.commandExtension">
      <client
            class="commands.AbsolutePathCommand">
      </client>
      <client
            class="commands.FileNameCommand">
      </client>
      <client
            class="commands.FolderNameCommand">
      </client>
   </extension>

</plugin>
